<div class="container mt-5">
    <div class="h2 text-center">Category</div>
    <hr>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let menu of products">
                <td>{{menu.id}}</td>
                <td>{{menu.name}}</td>
                <td>{{menu.des}}</td>
                <td>{{menu.price}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>